


*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    
}

h1{font-size: 100px;
   border-color: gray;
   color: white;
   font-family: 'Bebas Neue', cursive;
   border-color: gray solid;
   font-size: 50px
}

h2{font-size: 34px; color: white; font-family: 'Bebas Neue', cursive;}

h3{font-size: 25px; color: white; font-family: 'Bebas Neue', cursive;}

    h4{font-size: 20px; color: white;}

    p{font-size: 18px; color: white;font-family: 'Patua One', cursive;}





body{background-image: linear-gradient(to top,rgb(38, 157, 225), #011e4c)}

button{
    font-size: 25px;
    padding: 10px 30px;
    border-radius: 10px;
    border: 0.5px solid rgb(77, 76, 76);
    color: rgb(255, 249, 249);
    background-color: rgb(9, 15, 75);
    margin-top:10px;
}

button:hover{
    background-color: rgb(11, 90, 136);
}


.contenedor{
    max-width: 1200px;
    margin: auto;
}

header{
    background-color: rgb(38, 157, 225);
    border-bottom: 3px solid white;    
    }

header .img-contenedor{
    margin-top: 0;
    padding: 25px 30px;
  
}

.redes{
    margin-left: 10px;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
}

header .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

header a{
    font-size: 12px;
    padding: 5px 12px;
    font-weight: bold;
    color: white;
}

header a:hover{
    color: rgb(9, 15, 75);
}

#hero{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("multimedia/uru.png");
    color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center center;
}


#noti-destacadas{
   text-align: center;
   
}

.noticias{
    text-align: center;

   }

   .noti1{margin-top: 40px;}
   .noti2{margin-top: 40px;}
   .noti3{margin-top: 40px;}
.noticias h3{
margin-bottom: 15px;
}

#noti-destacadas .contenedor{
    padding: 145px 10px;
 }

 #noti-destacadas h2{
    margin: 0px;
 }

 #noti-destacadas p{
    display: none;
 }

 
 #noti-destacadas .noti1{   
    
 }



 #noti-destacadas .noti2{
   
 }
 #noti-destacadas .noti3{
    
 }


 .ads{
    text-align: center;
    
 }


 footer{
    text-align: center;
   color: white;
   margin-top: 20px;
 }




 /*Campeonato Uruguayo */

/*Nacional noti */
.camp-uru-1{
    margin-left: 15px;
}


.titulo-pag1{}

.titulo-noti-1{
   color: rgb(250, 250, 250);}

.subtitulo-noti-1{color: white;}

.imgbolso{width: 400px;
    height: 300px;}

.texto-noti-1{color: white;
    margin-bottom: 0px;}



/*peñarol noti*/
.camp-uru-2{
    margin-left: 15px;
    margin: 50px
    ;
}

.titulo-noti-2{}

.subtitulo-noti-2{}

.imgmanya{width: 400px;
  height: 300px;}

.texto-noti-2{color: white;}

/*Futbol femenino*/


.futf-noti-1{margin-left: 15px;
    margin: 50px}

.titulo-fut-femenino-1{}

.subtitulo-fut-femenino-1{}

.img-femenino-1{}

.texto-fut-femenino-1{
    color: white;
}



.futf-noti-2{margin-left: 15px;
    margin: 50px}

.titulo-fut-femenino-2{}

.subtitulo-fut-femenino-2{}

.img-femenino-2{}

.texto-fut-femenino-2{
    color: white;
}

/*Futbol Internacional*/


/*Uruguay*/

.futbol-internacional-noti-1{margin-left: 15px;
    margin: 50px}

.titulo-futbol-inter-1{}

.subtitulo-futbol-inter-1{}

.imginter-1{}

.texto-fut-inter-1{color: white;}

/*Champions*/

.futbol-internacional-noti-2{margin-left: 15px;
    margin: 50px}
    
.titulo-futbol-inter-2{}

.subtitulo-futbol-inter-2{}

.imginter-2{margin: 5px;}

.texto-fut-inter-2{color: white;}

.redes{
    display: flex;
}
.redes h4{
  font-size: 15px;
}

.fb
{margin-left: 15px;}

.tw{margin-left: 5px;}


.ig{margin-left: 5px;
margin-right: 15px;}





@media (min-width: 720px) /**ESCRITORIO ESCRITORIO ESCRITORIO ESCRITORIO ESCRITORIO ESCRITORIO ESCRITORIO ESCRITORIO ESCRITORIO ESCRITORIO ESCRITORIO ESCRITORIO ESCRITORIO **/
{ 

    header{
         width: 100%;
        
    }
    
    header .contenedor{
        flex-direction: row;
        height: 60px;
        justify-content: space-between;
        
      }
    

      header nav{
        flex-direction: row; 
        padding-bottom: 0px;
       
    }


    header a{
        font-size: 12px;
        padding: 5px 12px;
        font-weight: bold;
        color: white;
    }
    
  
  
  
  /*Portada*/
  
  
  
    #noti-destacadas .contenedor{
        display: flex;} 


        .noti1{margin-top: 40px;}
        .noti2{margin-top: 40px;}
        .noti3{margin-top: 40px;}
.noticias h3{
    margin-bottom: 15px;
}


  .img-noti-1{
        
    }

    .img-noti-2{ }

    .img-noti-3{
        
    }
       
    #noti-destacadas p{
        display: inline-block;
        margin-bottom: 30px;
    }
    
       
    #noti-destacadas h3{
        justify-content: center;

     }
    
    
    
    
     /*Nacional noti */
     
     
     .camp-uru-1{
        margin-left: 15px;
        margin: 60px;
    }
    
    
    .titulo-pag1{
       
    }
    
    .titulo-noti-1{
       color: rgb(255, 255, 255);
      
       
    }
    
    .subtitulo-noti-1{
        margin: 0px;
        
    }
    
    .imgbolso{
        float: right;
    }
    
    .texto-noti-1{color: rgb(236, 236, 236);
    ;}
    
    
    
    /*peñarol noti*/
    .camp-uru-2{
        margin-left: 15px;
        margin: 60px;
    }
    
    .titulo-noti-2{
       
    }
    
    .subtitulo-noti-2{
       
    }
    
    .imgmanya{
        float: left;
        margin: 5px 5px;
    }
    
    .texto-noti-2{}
    
    /*Futbol femenino*/
    
    
    .futf-noti-1{margin-left: 15px;
        margin: 60px;}
    
    .titulo-fut-femenino-1{}
    
    .subtitulo-fut-femenino-1{}
    
    .img-femenino-1{
        float: right;
    }
    
    .texto-fut-femenino-1{
        
    }
    
    
    
    .futf-noti-2{margin-left: 15px;
        margin: 60px;}
    
    .titulo-fut-femenino-2{}
    
    .subtitulo-fut-femenino-2{}
    
    .img-femenino-2{float: left;
    margin-right: 15px;}
    
    .texto-fut-femenino-2{}
    
    /*Futbol Internacional*/
    
    
    /*Uruguay*/
    
    .futbol-internacional-noti-1{margin-left: 15px;
        margin: 60px}
    
    .titulo-futbol-inter-1{}
    
    .subtitulo-futbol-inter-1{}
    
    .imginter-1{float: right;}
    
    .texto-fut-inter-1{color: white;}    
    
    /*Champions*/
    
    .futbol-internacional-noti-2{margin-left: 15px;
        margin: 60px}
    
    .titulo-futbol-inter-2{}
    
    .subtitulo-futbol-inter-2{}
    
    .imginter-2{float: left;}
    
    .texto-fut-inter-2{
        color: white;
    }
     
    .redes{
        display:inline-flex;
        justify-content: center;
    }
    .redes h4{
      font-size: 15px;
    }


    .fb
    {margin-left: 15px;}
    
    .tw{
        margin-left: 5px;
    }
    
    
    .ig{margin-left: 5px;
    margin-right: 15px;}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    }

